/*
	This CSS file, which was automatically created by Wakanda, allows you to share CSS styles for all the widgets on the Pages in your project.
	The CSS styles that are created when you create a Widget Role are placed in this file too.
*/

.waf-theme.capcis .waf-menuItem.waf-role-CAPCISTab {
	background-color: rgb(255, 178, 42);
}


.waf-theme.capcis .waf-button.waf-role-TestingRed.waf-state-focus {
	background-color: rgb(86, 255, 255);
	}

.waf-theme.capcis .waf-button.waf-role-TestingRed {
	background-color: rgb(255, 0, 0);
	}


.waf-theme.capcis .waf-button.waf-role-Accent {
	background-color: rgb(255, 133, 0);
	color: rgb(255, 255, 255);
	font-size: 14px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	}

.waf-theme.capcis .waf-container.waf-role-AccentContainer.waf-state-selected {
	background-color: rgba(248, 80, 0, 0.796875);
}

.waf-theme.capcis .waf-container.waf-role-AccentContainer {
	border-top-color: rgb(78, 117, 163);
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: rgb(78, 117, 163);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(78, 117, 163);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: rgb(78, 117, 163);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}






.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-label.waf-role-SeeThuTextBox {
	font-size: 16px;
min-width: 25px;
line-height: normal;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-label.waf-role-SeeThuTextBox {
	font-size: 16px;
min-width: 25px;
line-height: normal;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-label.waf-role-SeeThuTextBox {
	font-size: 16px;
min-width: 25px;
line-height: normal;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-label.waf-role-SeeThuTextBox {
	font-size: 16px;
min-width: 25px;
line-height: normal;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-label.waf-role-SeeThuTextBox {
	font-size: 16px;
min-width: 25px;
line-height: normal;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-label.waf-role-SeeThuTextBox {
	font-size: 16px;
min-width: 25px;
line-height: normal;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-disabled {
	text-shadow: transparent 0px 1px 0px;
background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-focus {
	background-color: transparent;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox.waf-state-hover {
	background-color: transparent;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	text-shadow: transparent 0px 0px 0px;
}

.waf-theme.capcis .waf-textField.waf-role-SeeThuTextBox {
	background-color: transparent;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.292969) 0px 0px 0px 1px inset, transparent 0px 0px 0px 0px;
	border-top-style: none;
border-top-width: 0px;
border-top-color: transparent;
border-left-style: none;
border-left-width: 0px;
border-left-color: transparent;
border-right-style: none;
border-right-width: 0px;
border-right-color: transparent;
border-bottom-style: none;
border-bottom-width: 0px;
border-bottom-color: transparent;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-shadow: transparent 0px 1px 0px;
}

.waf-theme.capcis .waf-label.waf-role-SeeThuTextBox {
	font-size: 16px;
min-width: 25px;
line-height: normal;
}

.waf-theme.capcis .waf-button.waf-role-Subtab {
	font-size: 12px;
	border-right-width: 15px;
	-moz-border-top-left-radius: 15px;
-webkit-border-top-left-radius: 15px;
border-top-left-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
border-bottom-left-radius: 15px;
}

.waf-theme.capcis .waf-button.waf-role-SubtabClose {
	-moz-border-bottom-left-radius: 1px;
-webkit-border-bottom-left-radius: 1px;
border-bottom-left-radius: 1px;
	-moz-border-top-left-radius: 1px;
-webkit-border-top-left-radius: 1px;
border-top-left-radius: 1px;
	background-color: rgb(127, 0, 0);
}












.waf-theme.capcis .waf-button.waf-role-TabClose {
	background-color: rgb(127, 0, 0);
border-bottom-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
text-align: center;
-moz-border-top-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-moz-border-top-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}

.waf-theme.capcis .waf-button.waf-role-TabClose {
	background-color: rgb(127, 0, 0);
border-bottom-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
text-align: center;
-moz-border-top-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-moz-border-top-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}

.waf-theme.capcis .waf-button.waf-role-Tab {
	border-right-color: rgb(0, 27, 90);
border-left-width: 15px;
text-align: center;
border-right-width: 1px;
-moz-border-top-right-radius: 25px;
-webkit-border-top-right-radius: 25px;
-moz-border-top-right-radius: 25px;
-webkit-border-top-right-radius: 25px;
border-top-right-radius: 25px;
-moz-border-top-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
-moz-border-top-left-radius: 4px;
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}

.waf-theme.default .waf-calendar.waf-role-CAPCISCalendar .datepickerInMonth span {
	color: rgb(0, 27, 90);
}

.waf-theme.default .waf-calendar.waf-role-CAPCISCalendar .datepickerWeek span {
	color: rgb(255, 127, 0);
}

.waf-theme.default .waf-calendar.waf-role-CAPCISCalendar .datepickerHeader span {
	color: rgb(0, 27, 90);
}

.waf-theme.default .waf-calendar.waf-role-CAPCISCalendar .datepickerDoW span {
	color: rgb(255, 127, 0);
}

.waf-theme.default .waf-calendar.waf-role-CAPCISCalendar .datepickerNotInMonth span {
	color: rgb(127, 127, 127);
}

.waf-theme.default .waf-calendar.waf-role-CAPCISCalendar .datepickerSelected {
	background-color: rgba(240, 240, 255, 0.898438);
}

.waf-theme.default .waf-calendar.waf-role-CAPCISCalendar {
	background-color: rgb(170, 212, 255);
}

